@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #26427e5b;
  border-radius: 10px;
  border: 3px solid white;
}

::-webkit-scrollbar-track {
  background-color: white;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}
img{
  max-width: 300px;
  margin: 20px auto;
  margin-top: 80px;
  
}

.blocotexto{
  background-color: #d2dbf13a;
  max-width: 300px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
}

.botoes{
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espaçamento entre os botões */
  max-width: 300px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
}

h1 {
    color: #000;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 0px;
}

footer {
  width: 100%;
  margin: 20px auto;
  font-size: small;
  color: #d0d0db;

}

.segundoseponto{
  display: flex;
  justify-content: center;
}

#wordDisplay {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    user-select: none;
}

#userInput {
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}

#userInput::placeholder {
  color: #21335881; 
}
#userInput:disabled{
  background-color: #26427e21;
}

p {
    margin: 10px;
}

#timerDisplay {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

#score {
    font-size: 18px;
    font-weight: bold;
    color: #007bff; /* Cor azul para destacar a pontuação */
}

#startButton {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1; /* O botão irá ocupar o espaço disponível na linha */
    min-width: 100px; /* Largura mínima do botão */
    max-width: 300px; /* Largura máxima do botão */
    margin: 0 auto; /* Centralizar horizontalmente no contêiner */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#startButton:hover {
    background-color: #0056b3; /* Cor mais escura ao passar o mouse */
}

#startButton:disabled{
  background-color: #92c6ff;
}

input:focus {
    outline: none; /* Remover a borda de foco do campo de entrada */
}

/* Estilos para o botão "Mostrar Palavras Corretas" */
#showWordsButton {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #45a049; /* Cor de fundo mais escura ao passar o mouse */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1; /* O botão irá ocupar o espaço disponível na linha */
    min-width: 100px; /* Largura mínima do botão */
    max-width: 300px; /* Largura máxima do botão */
    margin: 0 auto; /* Centralizar horizontalmente no contêiner */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  #showWordsButton:hover {
    background-color: #237049;
  }
  
  /* Estilos para o "popup" */
#wordPopup {
  display: none;
  position: relative;
  margin: 20px auto;
  background-color: #fff;
  border: 2px solid #007bff;
  padding: 20px;
  padding-top: 0px;
  border-radius: 5px;
  width: 255px;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  }
  
  #closeButton {
    opacity: 0;
    margin: 0;
    padding: 0;
    display: none;
  }
  
  #wordList {
    text-align: left;
  }

  /* Estilo para cada palavra na lista */
  #wordList span {
    display: block;
  }
  /* Estilos para o elemento "+3" */
  .bonus {
    position: fixed;
    top: 280px;
    left: 50%;
    font-size: 24px;
    font-weight: bold;
    color: green;
    z-index: 9999;
    animation: fade-in-and-move-up 1s ease-out;
    animation-fill-mode: forwards; /* Mantém o estado final da animação */
  }
  
  @keyframes fade-in-and-move-up {
    0% { opacity: 0; transform: translate(-50%, -50%); }
    50% { opacity: 1; transform: translate(-50%, -50%); }
    100% { opacity: 0; transform: translate(-50%, -70%); } /* Move 20% para cima (ajuste o valor conforme necessário) */
  }

  #languageSelection button{
    border: 0;
    color: white;
    font-size: 18px;
    padding: 10px;
    background-color: #007bff; /* Cor de fundo mais escura ao passar o mouse */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1; /* O botão irá ocupar o espaço disponível na linha */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
  }

  #languageSelection button:hover{
    background-color: #0056b3;
  }

  .hidden-word {
    display: none;
  } 


/* Estilos para o popup do leaderboard */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 2px solid #007bff;
  border-radius: 5px;
  z-index: 999;
  height: 490px;
  width: 500px;
  overflow-y: auto;
  
}

.closeButton {
  position: absolute;
  top: 17px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 12px;
}

#leaderboardList {
  margin-top: 10px;
}

/* Estilos para o botão de exibir leaderboard */
#showLeaderboardButton {
  font-size: 18px;
  padding: 5px 20px;
  background-color: white;
  color: #000;  
  border: 2px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  flex: 1; /* O botão irá ocupar o espaço disponível na linha */
  min-width: 100px; /* Largura mínima do botão */
  max-width: 300px; /* Largura máxima do botão */
  margin: 0 auto; /* Centralizar horizontalmente no contêiner */
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

#perfectionistModeButton{
  font-size: 18px;
  padding: 5px 20px;
  background-color: #ff0000;
  color: white;  
  border: 2px solid #ff0000;
  border-radius: 5px;
  cursor: pointer;
  flex: 1; /* O botão irá ocupar o espaço disponível na linha */
  width: 50px; /* Largura mínima do botão */
  max-width: 50px; /* Largura máxima do botão */
  margin: 0 auto; /* Centralizar horizontalmente no contêiner */
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}


#showLeaderboardButton:hover {
  border: 2px solid #45a049;
}

#showLeaderboardButton:focus {
  outline: none;
}

/* Estilos para a tabela de classificação */
#leaderboardList {
  margin-top: 10px; 
}

/* Estilos para as células da tabela de classificação */
.leaderboard-row {
  padding: 5px;
}

.leaderboard-row:nth-child(odd) {
  background-color: #f9f9f9;
}

.leaderboard-row:nth-child(even) {
  background-color: #f1f1f1;
}

.coresdaoras:nth-child(1){
  background-color: #ffe46a;
}

.coresdaoras:nth-child(2){
  background-color: #c2c2c2;
}

.coresdaoras:nth-child(3){
  background-color: #db9e6c;
}


/* Styles for each column in the rows */
.leaderboard-estrela,
.leaderboard-nome,
.leaderboard-score {
  flex: 1; /* Equal width for all columns */
}

.leaderboard-header {
  font-weight: bold;
}

.leaderboard-estrela{
  text-align: center;
  padding: 5px 10px;
}

.leaderboard-nome{
  text-align: left;
  padding: 5px 10px;
  flex: 6; 
}

.leaderboard-score{
  text-align: center;
  padding: 5px 10px;
}

.leaderboard-tempo{
  text-align: center;
  padding: 5px 10px;
  flex: 3; 
}

.leaderboard-linguagem{
  text-align: center;
  padding: 5px 10px; 
  flex: 3; 
}

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid white; /* Cor da borda da tabela */
}

@media (max-width: 600px) {
  .popup {
    width: 80%; /* Reduz a largura para ocupar 90% da largura da tela */
  }
  img{
    margin-left: 20px;
    margin-right: 20px;
  }
  #startButton { 
    flex: auto;
  }
  #showLeaderboardButton { 
    flex: auto;
  }

  #wordPopup {
    width: 80%;
    
    }
}



