@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #26427e5b;
  border-radius: 10px;
  border: 3px solid white;
}

::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;

}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: white;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}
img{
  max-width: 300px;
  margin: 20px auto;
  margin-top: 35px;
}

.blocotexto{
  background-color: #f4f7fd;
  max-width: 300px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid white; 
  word-break: break-all;

}

/* Estilize a borda para o elemento .blocotexto quando estiver ativo */
.blocotexto.active {
  border: 2px solid #ff0000; /* Escolha a cor e a espessura da borda como desejar */
}

.botoes{
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espaçamento entre os botões */
  max-width: 300px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
}

h1 {
    color: #000;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
  color: #007bff;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 0px;
}

footer {
  width: 100%;
  margin: 20px auto;
  font-size: small;
  color: #d0d0db;
}

.segundoseponto{
  display: flex;
  justify-content: center;
}

#wordDisplay {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    user-select: none;
}

#userInput {
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}

#userInput::placeholder {
  color: #21335881; 
}
#userInput:disabled{
  background-color: #26427e21;
}

p {
    margin: 10px;
}

#timerDisplay {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

#score {
    font-size: 18px;
    font-weight: bold;
    color: #007bff; /* Cor azul para destacar a pontuação */
}

#startButton {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1; /* O botão irá ocupar o espaço disponível na linha */
    min-width: 100px; /* Largura mínima do botão */
    max-width: 300px; /* Largura máxima do botão */
    margin: 0 auto; /* Centralizar horizontalmente no contêiner */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#startButton:hover {
    background-color: #0056b3; /* Cor mais escura ao passar o mouse */
}

#startButton:disabled{
  background-color: #92c6ff;
}

input:focus {
    outline: none; /* Remover a borda de foco do campo de entrada */
}

/* Estilos para o botão "Mostrar Palavras Corretas" */
#showWordsButton {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #45a049; /* Cor de fundo mais escura ao passar o mouse */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1; /* O botão irá ocupar o espaço disponível na linha */
    min-width: 100px; /* Largura mínima do botão */
    max-width: 300px; /* Largura máxima do botão */
    margin: 0 auto; /* Centralizar horizontalmente no contêiner */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  #showWordsButton:hover {
    background-color: #237049;
  }
  
  /* Estilos para o "popup" */
#wordPopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  z-index: 999;
  height: 490px;
  width: 500px;
  overflow-y: auto;
  }
  
  #closeButton {
    position: absolute;
    top: 17px;
    right: 15px;
    font-size: 14px;
    cursor: pointer;
    padding: 5px 12px;
    background-color: white;
    border: none;
  }
  
  #wordList {
    text-align: left;
  }

  /* Estilo para cada palavra na lista */
  #wordList span {
    display: block;
  }
  /* Estilos para o elemento "+3" */
  .bonus {
    position: fixed;
    top: 280px;
    left: 50%;
    font-size: 24px;
    font-weight: bold;
    color: green;
    z-index: 9999;
    animation: fade-in-and-move-up 1s ease-out;
    animation-fill-mode: forwards; /* Mantém o estado final da animação */
  }
  
  @keyframes fade-in-and-move-up {
    0% { opacity: 0; transform: translate(-50%, -50%); }
    50% { opacity: 1; transform: translate(-50%, -50%); }
    100% { opacity: 0; transform: translate(-50%, -70%); } /* Move 20% para cima (ajuste o valor conforme necessário) */
  }

  #languageSelection button{
    border: 0;
    color: white;
    font-size: 18px;
    padding: 10px;
    background-color: #007bff; /* Cor de fundo mais escura ao passar o mouse */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1; /* O botão irá ocupar o espaço disponível na linha */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
  }

  #languageSelection button:hover{
    background-color: #0056b3;
  }

  .hidden-word {
    display: none;
  } 


/* Estilos para o popup do leaderboard */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  z-index: 999;
  height: 490px;
  width: 500px;
  overflow-y: auto;
}

.closeButton {
  position: absolute;
  top: 17px;
  right: 15px;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 12px;
}

#leaderboardList {
  margin-top: 10px;
}

/* Estilos para o botão de exibir leaderboard */
#showLeaderboardButton {
  font-size: 18px;
  padding: 5px 20px;
  background-color: white;
  color: #000;  
  border: 2px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  flex: 1; /* O botão irá ocupar o espaço disponível na linha */
  min-width: 100px; /* Largura mínima do botão */
  max-width: 300px; /* Largura máxima do botão */
  margin: 0 auto; /* Centralizar horizontalmente no contêiner */
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

#perfectionistModeButton{
  font-size: 18px;
  padding: 5px;
  background-color: #ff0000;
  color: white;  
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 1; /* O botão irá ocupar o espaço disponível na linha */
  min-width: 20px; /* Largura mínima do botão */
  max-width: 30px; /* Largura máxima do botão */
  margin: 0 auto; /* Centralizar horizontalmente no contêiner */
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

#endGameButton{
  font-size: 18px;
  padding: 5px 20px;
  background-color: #007bff;
  border: none;
  color: white;  
  border-radius: 5px;
  cursor: pointer;
  flex: 1; /* O botão irá ocupar o espaço disponível na linha */
  min-width: 100px; /* Largura mínima do botão */
  max-width: 300px; /* Largura máxima do botão */
  margin: 0 auto; /* Centralizar horizontalmente no contêiner */
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

#showLeaderboardButton:hover {
  border: 2px solid #45a049;
}

#showLeaderboardButton:focus {
  outline: none;
}

/* Estilos para a tabela de classificação */
#leaderboardList {
  margin-top: 10px; 
}

/* Estilos para as células da tabela de classificação */
.leaderboard-row {
  padding: 5px;
}

.leaderboard-row:nth-child(1) .coresdaoras:nth-child(1){
  color: #000 ;
  background-color: #ffe46a;
}

.leaderboard-row:nth-child(odd) {
  background-color: #f0f2f6;
}

.leaderboard-row:nth-child(even) {
  background-color: #e4e5ee;
}

.coresdaoras:nth-child(1){
  background-color: white;
  border-bottom: 2px solid #ffe46a;
}

.coresdaoras:nth-child(2){
  background-color: white;
  border-bottom: 2px solid #e4e5ee;

}

.coresdaoras:nth-child(3){
  background-color: white;
  border-bottom: 2px solid #db9e6c;
}


/* Styles for each column in the rows */
.leaderboard-estrela,
.leaderboard-nome,
.leaderboard-score {
  flex: 1; /* Equal width for all columns */
}

.leaderboard-header {
  font-weight: bold;
}

.leaderboard-estrela{
  text-align: center;
  padding: 5px 10px;
}

.leaderboard-nome{
  text-align: left;
  padding: 5px 10px;
  flex: 6; 
}

.leaderboard-score{
  text-align: center;
  padding: 5px 10px;
}

.leaderboard-tempo{
  text-align: center;
  padding: 5px 10px;
  flex: 3; 
}

.leaderboard-linguagem{
  text-align: center;
  padding: 5px 10px; 
  flex: 3; 
}

.leaderboard-header:nth-child(1){
  background-color: #f0f2f6;
}


.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid witeh; /* Cor da borda da tabela */
}

@media (max-width: 600px) {
  .popup {
    font-size: 70%;
    height: 88vh;  
    width: 80%;
  }
  img{
    margin-left: 20px;
    margin-right: 20px;
  }
  #startButton { 
    flex: auto;
  }
  #showLeaderboardButton { 
    flex: auto;
  }
  .blocotexto{
    width: 87%;
  }
  #wordPopup {
    font-size: 70%;
    height: 88vh;  
    width: 80%;
  }
  .tutorial-box,
  .about-box {
    width: 80%;
    font-size: 70%; 
    margin: 0; 
  }
}


/* Estilos para os botões */
.buttonsts {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 990;
}

.buttonsts button {
  font-size: 16px;
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
}

.buttonsts button:hover {
  background-color: #0056b3;
}

/* Estilos para as caixas de conteúdo */
.tutorial-box,
.about-box {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: left;
  max-width: 300px;
  background-color: #f4f7fd;
  padding: 20px;
  border-radius: 5px;
  z-index: 990;
  margin: 10px;
  margin-bottom: 60px;
}

.tutorial-box h2,
.about-box h2 {
  margin-top: 0;
  font-size: 24px;
  color: #007bff;
}

.tutorial-box p,
.about-box p {
  font-size: 14px;
  line-height: 1.6;
}

.tutorial-box button:hover,
.about-box button:hover {
  background-color: #0056b3;
}

.link{
  text-decoration: none;
  font-weight: 700;
  color: #29907F;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 9, 35, 0.573); /* Aqui, definimos a cor preta com uma transparência de 50% */
  z-index: 995; /* Colocamos um índice z alto para garantir que o overlay fique por cima dos outros elementos */
  display: none; /* Começamos com o overlay oculto */
}


.ficacentro{
  display: block;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: -10px;
}

.azul{
  color: #007bff;
  font-weight: 700;
}


.ficacentroend{
  display: none;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: -10px;
}

.enter{
  color: #ff0000;
  display: none;
  font-size: small;
  margin-top: 5px;
}